__pycache__/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.vscode/
.idea/
.DS_Store
Thumbs.db


data/**
!data/.gitkeep

models/**
!models/.gitkeep
!models/*/
!models/*/train.py

archive/**